@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<section class="jumbotron text-center">
    <h1 class="text-danger jumbotron-heading">@ViewData["Title"]</h1>
    <p class="lead text-danger">You do not have access to this resource.</p>
</section>